@model IEnumerable<odevweb.Models.Islem>

@{
    ViewData["Title"] = "IslemIndex";
}

<h1>IslemIndex</h1>

<p>
    <a asp-action="IslemCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IslemAd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ucret)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IslemAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ucret)
            </td>
            <td>
                <a asp-action="IslemEdit" asp-route-id="@item.IslemId">Edit</a> |
                <a asp-action="IslemDetails" asp-route-id="@item.IslemId">Details</a> |
                <a asp-action="IslemDelete" asp-route-id="@item.IslemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
