@model IEnumerable<odevweb.Models.Islem>

@{
    ViewData["Title"] = "IslemIndex";
}


<div class="container mt-5">
    <h2 class="text-center mb-4">İşlem Listesi</h2>

    <div class="card shadow-lg">
        <div class="card-body">
           
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.IslemAd)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Sure)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Ucret)
                        </th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IslemAd)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sure)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ucret)
                            </td>
                            <td>
                                <a asp-action="IslemEdit" asp-route-id="@item.IslemId" class="btn btn-secondary btn-sm">Düzenle</a>
                                <a asp-action="IslemDetails" asp-route-id="@item.IslemId" class="btn btn-info btn-sm ml-2">Detaylar</a>
                                <a asp-action="IslemDelete" asp-route-id="@item.IslemId" class="btn btn-danger btn-sm ml-2">Sil</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <p>
                <a asp-action="IslemCreate" class="btn btn-outline-success btn-lg">Yeni İşlem Ekle</a>
            </p>
        </div>
    </div>
</div>