@model IEnumerable<odevweb.Models.Personel>

@{
    ViewData["Title"] = "PersonelListesi";
}

<h1>PersonelListesi</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uzmanlik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Islem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uzmanlik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Islem.IslemId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PersonelId">Edit</a> |
                <a asp-action="PersonelSil" asp-route-id="@item.PersonelId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
